<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CleanArchitectureSample.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7E1D2BFC2E9E7CB4002A7973</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7E1D2C0D2E9E7CB6002A7973</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7E1D2C172E9E7CB6002A7973</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
